<div class="grid row">
    <div class="m-4 col-8">
        <div class="card shadow-4">
            <h5>Mesas</h5>
            <p-dataView [value]="mesas" layout="grid">
                <ng-template pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-3" style="text-align: center" *ngFor="let mesa of mesas">
                            <h3>{{mesa.name}}</h3>
                            <div class="card m-3 border-1 surface-border" (click)="selecionaMesa(mesa.id)"
                                 [ngStyle]="{ 'background-color': getColor(mesa.estado), 'width': '200px', 'height': '130px' }">
                                <div class="flex flex-column align-items-center text-center mb-3">
                                    <i *ngIf="mesa.estado === 'Limpeza'" class="pi pi-trash"
                                       style="font-size: 2rem;"></i>
                                    <i *ngIf="mesa.estado === 'Aguardando Pagamento'" class="pi pi-dollar"
                                       style="font-size: 2rem;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-tag value="Primary" [rounded]="true"></p-tag>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <div class="m-4 col-3">
        <div class="card surface-card shadow-4 border-round" style="border-color:black">
            <div class="p-3 text-center">
                <div class="row" *ngFor="let estado of estadoCounts | keyvalue">
                    <div class="col-4" style="text-align: left">

                        {{ estado.key }}

                    </div>
                    <div class="col-4" style="text-align: left;display: inline-flex">
                        <h1>{{ estado.value }}</h1>
                        <p-button icon="" [rounded]="true" [style]="{ 'background-color': getColor(estado.key),'width':'30px','height':'1px'}" [disabled]="true"  />
                    </div>
                </div>
                <p-divider style="border-color: black"></p-divider>
                <div class="row" style="text-align: center">
                    Total
                    <h1>{{ totalMesas}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
