.Encaminhado-pra-cozinha .card {
    background-color: #ffb3ba;
}

.Pronto-para-Servir .div {
    background-color: #87ceeb;
}

.Disponível .card {
    background-color: #b3ffb3;
}

.Aguardando-Pagamento .card {
    background-color: #ffe699;
}

.Limpeza .card {
    background-color: #c3c3c3;
}
